In [93]:
import pandas as pd
import numpy as np
import plotly.express as px

In [94]:
df5 = pd.read_excel('aadhaar_number_continue.xlsx')
df1 = pd.read_excel('app_opened.xlsx')
df2 = pd.read_excel('emiselection_page_load.xlsx')
df3 = pd.read_excel('selectemi_applyforloan_click.xlsx')
df4 = pd.read_excel('employment_submit_click.xlsx')
df6 = pd.read_excel('disbursed.xlsx')
df7 = pd.read_excel('demographics.xlsx')

In [95]:
df1.head()

          event name  user_id              time stamp
0  applifecycle_open   167121 2018-09-01 00:00:58.210
1  applifecycle_open  1445155 2018-09-01 00:02:25.533
2  applifecycle_open    70707 2018-09-01 00:06:21.525
3  applifecycle_open   460670 2018-09-01 00:08:43.062
4  applifecycle_open  1331778 2018-09-01 00:10:43.961

In [96]:
df1.shape

(5000, 3)

In [97]:
df2.head()

               event name  user_id              time stamp
0  emiselection_page_load  1451623 2018-09-01 00:34:02.837
1  emiselection_page_load  1449316 2018-09-01 00:38:13.631
2  emiselection_page_load  1448411 2018-09-01 01:44:23.074
3  emiselection_page_load  1451501 2018-09-01 01:33:10.679
4  emiselection_page_load  1451501 2018-09-01 01:33:10.679

In [98]:
df2.shape

(1171, 3)

In [99]:
df3.head()

                     event name  user_id              time stamp
0  selectemi_applyforloan_click  1273990 2018-09-01 01:30:16.618
1  selectemi_applyforloan_click   609164 2018-09-01 01:39:23.829
2  selectemi_applyforloan_click  1451696 2018-09-02 08:56:37.186
3  selectemi_applyforloan_click  1451696 2018-09-02 08:56:37.186
4  selectemi_applyforloan_click  1449836 2018-09-01 01:52:34.443

In [100]:
df3.shape

(931, 3)

In [104]:
df4.rename(columns={"user":"user_id"}, inplace=True)
df4.head()

                event name  user_id              time stamp
0  employment_submit_click  1450457 2018-09-01 00:10:55.962
1  employment_submit_click  1451796 2018-09-01 02:38:42.912
2  employment_submit_click  1451833 2018-09-01 02:49:54.507
3  employment_submit_click  1451833 2018-09-01 02:49:54.507
4  employment_submit_click  1451833 2018-09-01 02:49:54.507

In [105]:
df4.shape

(625, 3)

In [107]:
df5.rename(columns={"user":"user_id"}, inplace=True)
df5.head()

                event name  user_id              time stamp
0  aadhaar_number_continue  1451623 2018-09-01 00:38:45.421
1  aadhaar_number_continue  1451623 2018-09-01 00:38:45.421
2  aadhaar_number_continue  1451623 2018-09-01 00:38:45.421
3  aadhaar_number_continue  1451623 2018-09-01 00:38:45.421
4  aadhaar_number_continue  1239846 2018-09-01 01:21:28.799

In [108]:
df5.shape

(783, 3)

In [109]:
df6.head()

  event name  user_id          time stamp
0  disbursed  1370259 2018-09-04 05:07:00
1  disbursed  1370753 2018-09-06 05:07:00
2  disbursed  1378617 2018-09-03 05:07:00
3  disbursed  1388325 2018-09-03 05:07:00
4  disbursed  1389965 2018-09-06 05:07:00

In [80]:
df6.shape

(372, 3)

In [81]:
df7.head()

    user date_of_birth gender       city
0  87660    1980-09-20      m      Noida
1   5548    1984-12-26      m     Mumbai
2  49979    1987-06-06      m  Bengaluru
3  56020    1987-06-14      m       Pune
4  62945    1993-02-10      m  New Delhi

In [82]:
df7.shape

(3900, 4)

In [177]:
steps = ['App_opened', 'emiselection_page_load', 'selectemi_applyforloan_click', 'employment_submit_click', 'aadhaar_number_continue', 'disbursed']
values = []

In [178]:
df1 = df1.sort_values(['user_id','time stamp'], ascending=True).drop_duplicates(subset=['user_id', 'event name'], keep='first')
df2 = df2.sort_values(['user_id','time stamp'], ascending=True).drop_duplicates(subset=['user_id', 'event name'], keep='first')
df_merge1 = pd.merge(df1, df2, on='user_id', how='left')
df_merge1 = df_merge1[df_merge1['time stamp_y']> df_merge1['time stamp_x']].sort_values('time stamp_y', ascending=True)
df_merge1.drop_duplicates(subset=['user_id', 'event name_x', 'event name_y'], keep='first')
values.append(len(df1))
values.append(len(df_merge1))
df_merge1 = df_merge1.rename(columns = {'event name_x': 'event1', 'event name_y':'event2', 'time stamp_x': 'time stamp1', 'time stamp_y': 'time stamp2'})
df_merge1

,event1,user_id,time stamp1,event2,time stamp2
2788,applifecycle_open,1394781,2018-09-01 00:48:25.293,emiselection_page_load,2018-09-01 00:48:25.312
3459,applifecycle_open,1449836,2018-09-01 01:52:34.421,emiselection_page_load,2018-09-01 01:52:34.432
3392,applifecycle_open,1448132,2018-09-01 00:21:40.444,emiselection_page_load,2018-09-01 01:55:12.950
2421,applifecycle_open,1325136,2018-09-01 02:21:34.116,emiselection_page_load,2018-09-01 02:32:08.240
3433,applifecycle_open,1449305,2018-09-01 01:58:11.908,emiselection_page_load,2018-09-01 02:44:32.294
...,...,...,...,...,...
2102,applifecycle_open,1248662,2018-09-01 11:20:04.227,emiselection_page_load,2018-09-24 18:21:30.645
256,applifecycle_open,175621,2018-09-01 04:08:46.898,emiselection_page_load,2018-09-25 11:33:55.812
746,applifecycle_open,427848,2018-09-01 05:45:40.294,emiselection_page_load,2018-09-25 11:47:27.068
1526,applifecycle_open,1040993,2018-09-01 14:14:30.645,emiselection_page_load,2018-09-26 09:27:19.622
2927,applifecycle_open,1415206,2018-09-01 04:36:36.229,emiselection_page_load,2018-09-26 17:01:55.625

In [179]:
df_merge1 = df_merge1.sort_values(['user_id','time stamp1', 'time stamp2'], ascending=True)
df3 = df3.sort_values(['user_id','time stamp'], ascending=True).drop_duplicates(subset=['user_id', 'event name'], keep='first')
df_merge2 = pd.merge(df_merge1, df3, on='user_id', how='left')
df_merge2 = df_merge2[df_merge2['time stamp']> df_merge2['time stamp2']].sort_values('time stamp', ascending=True)
df_merge2.drop_duplicates(subset=['user_id', 'event2', 'event name'], keep='first')
values.append(len(df_merge2))
df_merge2 = df_merge2.rename(columns = {'event name': 'event3', 'time stamp': 'time stamp3'})
df_merge2

,event1,user_id,time stamp1,event2,time stamp2,event3,time stamp3
135,applifecycle_open,1394781,2018-09-01 00:48:25.293,emiselection_page_load,2018-09-01 00:48:25.312,selectemi_applyforloan_click,2018-09-01 00:48:25.330
192,applifecycle_open,1449836,2018-09-01 01:52:34.421,emiselection_page_load,2018-09-01 01:52:34.432,selectemi_applyforloan_click,2018-09-01 01:52:34.443
184,applifecycle_open,1448132,2018-09-01 00:21:40.444,emiselection_page_load,2018-09-01 01:55:12.950,selectemi_applyforloan_click,2018-09-01 01:55:12.956
189,applifecycle_open,1449305,2018-09-01 01:58:11.908,emiselection_page_load,2018-09-01 02:44:32.294,selectemi_applyforloan_click,2018-09-01 02:44:32.302
60,applifecycle_open,618262,2018-09-01 02:48:25.928,emiselection_page_load,2018-09-01 02:48:25.937,selectemi_applyforloan_click,2018-09-01 02:48:25.950
...,...,...,...,...,...,...,...
155,applifecycle_open,1424753,2018-09-01 10:19:04.466,emiselection_page_load,2018-09-23 07:20:15.104,selectemi_applyforloan_click,2018-09-23 07:20:15.111
89,applifecycle_open,1191424,2018-09-01 04:45:44.833,emiselection_page_load,2018-09-24 06:55:59.117,selectemi_applyforloan_click,2018-09-24 06:55:59.121
139,applifecycle_open,1404160,2018-09-01 12:23:16.912,emiselection_page_load,2018-09-24 16:15:31.419,selectemi_applyforloan_click,2018-09-24 16:15:31.427
94,applifecycle_open,1248662,2018-09-01 11:20:04.227,emiselection_page_load,2018-09-24 18:21:30.645,selectemi_applyforloan_click,2018-09-24 18:21:30.651
81,applifecycle_open,1040993,2018-09-01 14:14:30.645,emiselection_page_load,2018-09-26 09:27:19.622,selectemi_applyforloan_click,2018-09-26 09:27:19.634

In [180]:
df_merge2 = df_merge2.sort_values(['user_id','time stamp3'], ascending=True).drop_duplicates(subset=['user_id', 'event3'], keep='first')
df4 = df4.sort_values(['user_id','time stamp'], ascending=True).drop_duplicates(subset=['user_id', 'event name'], keep='first')
df_merge3 = pd.merge(df_merge2, df4, on='user_id', how='left')
df_merge3 = df_merge3[df_merge3['time stamp']> df_merge3['time stamp3']].sort_values('time stamp', ascending=True)
df_merge3.drop_duplicates(subset=['user_id', 'event3', 'event name'], keep='first')
values.append(len(df_merge3))
df_merge3 = df_merge3.rename(columns = {'event name': 'event4','time stamp': 'time stamp4'})
df_merge3

,event1,user_id,time stamp1,event2,time stamp2,event3,time stamp3,event4,time stamp4
95,applifecycle_open,1415635,2018-09-01 06:00:38.510,emiselection_page_load,2018-09-01 06:07:39.619,selectemi_applyforloan_click,2018-09-01 06:10:40.284,employment_submit_click,2018-09-01 06:14:20.295
136,applifecycle_open,1452251,2018-09-01 06:24:59.245,emiselection_page_load,2018-09-01 06:35:46.555,selectemi_applyforloan_click,2018-09-01 06:35:46.565,employment_submit_click,2018-09-01 06:38:59.870
121,applifecycle_open,1448132,2018-09-01 00:21:40.444,emiselection_page_load,2018-09-01 01:55:12.950,selectemi_applyforloan_click,2018-09-01 01:55:12.956,employment_submit_click,2018-09-01 07:25:37.238
54,applifecycle_open,772320,2018-09-01 09:06:04.845,emiselection_page_load,2018-09-01 09:54:53.400,selectemi_applyforloan_click,2018-09-01 09:54:53.404,employment_submit_click,2018-09-01 09:57:36.547
59,applifecycle_open,1046512,2018-09-01 13:54:06.796,emiselection_page_load,2018-09-01 13:54:06.802,selectemi_applyforloan_click,2018-09-01 13:54:06.805,employment_submit_click,2018-09-01 13:56:44.763
56,applifecycle_open,800964,2018-09-01 13:49:12.068,emiselection_page_load,2018-09-01 14:09:27.843,selectemi_applyforloan_click,2018-09-01 14:09:27.863,employment_submit_click,2018-09-01 14:09:27.869
93,applifecycle_open,1405463,2018-09-01 07:29:17.515,emiselection_page_load,2018-09-01 07:55:23.558,selectemi_applyforloan_click,2018-09-01 07:55:23.567,employment_submit_click,2018-09-02 11:48:14.460
142,applifecycle_open,1453977,2018-09-01 11:58:29.249,emiselection_page_load,2018-09-03 06:15:03.539,selectemi_applyforloan_click,2018-09-03 06:15:03.555,employment_submit_click,2018-09-03 09:45:38.108
109,applifecycle_open,1430601,2018-09-01 08:52:23.549,emiselection_page_load,2018-09-03 19:25:52.456,selectemi_applyforloan_click,2018-09-03 19:25:52.464,employment_submit_click,2018-09-05 10:20:07.798
108,applifecycle_open,1430011,2018-09-01 04:31:12.382,emiselection_page_load,2018-09-01 13:55:35.608,selectemi_applyforloan_click,2018-09-01 13:55:35.631,employment_submit_click,2018-09-06 06:21:22.536
148,applifecycle_open,1456055,2018-09-01 13:24:20.985,emiselection_page_load,2018-09-08 12:36:50.249,selectemi_applyforloan_click,2018-09-08 12:36:50.254,employment_submit_click,2018-09-11 04:14:17.876
139,applifecycle_open,1453176,2018-09-01 08:39:10.629,emiselection_page_load,2018-09-01 11:12:58.814,selectemi_applyforloan_click,2018-09-01 11:12:58.818,employment_submit_click,2018-09-11 09:40:30.460
145,applifecycle_open,1455159,2018-09-01 11:43:39.316,emiselection_page_load,2018-09-09 15:27:38.338,selectemi_applyforloan_click,2018-09-09 15:27:38.346,employment_submit_click,2018-09-13 09:26:10.840

In [181]:
df_merge3 = df_merge3.sort_values(['user_id','time stamp4'], ascending=True).drop_duplicates(subset=['user_id', 'event4'], keep='first')
df5 = df5.sort_values(['user_id','time stamp'], ascending=True).drop_duplicates(subset=['user_id', 'event name'], keep='first')
df_merge4 = pd.merge(df_merge3, df5, on='user_id', how='left')
df_merge4 = df_merge4[df_merge4['time stamp']> df_merge4['time stamp4']].sort_values('time stamp', ascending=True)
df_merge4.drop_duplicates(subset=['user_id', 'event4', 'event name'], keep='first')
values.append(len(df_merge4))
df_merge4 = df_merge4.rename(columns = {'event name': 'event5','time stamp': 'time stamp5'})
df_merge4
#Final_df['disbursed'] = len(df6)

,event1,user_id,time stamp1,event2,time stamp2,event3,time stamp3,event4,time stamp4,event5,time stamp5
4,applifecycle_open,1415635,2018-09-01 06:00:38.510,emiselection_page_load,2018-09-01 06:07:39.619,selectemi_applyforloan_click,2018-09-01 06:10:40.284,employment_submit_click,2018-09-01 06:14:20.295,aadhaar_number_continue,2018-09-01 06:14:20.304
8,applifecycle_open,1452251,2018-09-01 06:24:59.245,emiselection_page_load,2018-09-01 06:35:46.555,selectemi_applyforloan_click,2018-09-01 06:35:46.565,employment_submit_click,2018-09-01 06:38:59.870,aadhaar_number_continue,2018-09-04 06:16:21.505

In [182]:
df_merge4 = df_merge4.sort_values(['user_id','time stamp5'], ascending=True).drop_duplicates(subset=['user_id', 'event5'], keep='first')
df6 = df6.sort_values(['user_id','time stamp'], ascending=True).drop_duplicates(subset=['user_id', 'event name'], keep='first')
df_merge5 = pd.merge(df_merge4, df6, on='user_id', how='left')
df_merge5 = df_merge5[df_merge5['time stamp']> df_merge5['time stamp3']].sort_values('time stamp', ascending=True)
df_merge5.drop_duplicates(subset=['user_id', 'event3', 'event name'], keep='first')
values.append(len(df_merge5))
df_merge5

,event1,user_id,time stamp1,event2,time stamp2,event3,time stamp3,event4,time stamp4,event5,time stamp5,event name,time stamp
0,applifecycle_open,1415635,2018-09-01 06:00:38.510,emiselection_page_load,2018-09-01 06:07:39.619,selectemi_applyforloan_click,2018-09-01 06:10:40.284,employment_submit_click,2018-09-01 06:14:20.295,aadhaar_number_continue,2018-09-01 06:14:20.304,disbursed,2018-09-03 05:07:00

In [187]:
df_funnel = pd.DataFrame({"step": steps, "val": values})
df_funnel
fig = px.funnel(df_funnel, x='val', y='step')
fig.show()

# Conclusions:
1. If we see funnel visualization, bottleneck points are emiselection_page_load > employment_submit_click that need to be addressed.
2. We should improve our app at emiselection_page_load and employment_submit_cick as these are the major step where users backoff.
3. Only one user from Bangaluru completed the process, below is his information.(considering above analysis correct)

In [190]:
df7[df7['user']==1415635]

         user date_of_birth gender       city
2684  1415635    1997-05-29      m  Bengaluru